@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.taxiservices-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(36, 36, 36);
}

.taxiservices-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
}

.taxiservices-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.taxiservices-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.taxiservices-buttons {
    position: absolute;
    width: 100%;
    top: 15vh;
    bottom: 10vh;
    overflow-y: auto;
}

.taxiservices-button {
    position: relative;
    width: 80%;
    height: 8vh;
    margin: 2vh auto;
    background: rgba(23, 23, 23, 90%);
    border-radius: 0.5vh;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    transition: all 0.1s ease-in-out;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taxiservices-button:hover {
    background: rgba(33, 33, 33, 95%);
    cursor: pointer;
}

.taxiservices-button:active {
    transform: scale(0.98);
}

.taxiservices-button > i {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.taxiservices-button > p {
    margin: 0;
    font-size: 1.8vh;
}

#call-taxi-button {
    background: rgba(49, 214, 60, 0.8);
}

#call-taxi-button:hover {
    background: rgba(49, 214, 60, 1);
}

#dismiss-taxi-button {
    background: rgba(214, 49, 49, 0.8);
}

#dismiss-taxi-button:hover {
    background: rgba(214, 49, 49, 1);
}

#reset-taxi-button {
    background: rgba(49, 150, 214, 0.8);
}

#reset-taxi-button:hover {
    background: rgba(49, 150, 214, 1);
}

.taxiservices-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background: rgba(23, 23, 23, 90%);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.taxiservices-footer-button {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    transition: .1s ease-in-out;
}

.taxiservices-footer-button:hover {
    background: rgba(33, 33, 33, 95%);
    cursor: pointer;
}

.taxiservices-footer-button > i {
    margin-right: 0.5vh;
}
